.cartao {
    background: rgb(255, 255, 255);
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.cartao2 {
    background: rgb(255, 255, 255);
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

button{
    background-color: rgb(154, 208, 255);
}    

h1{
    color: blue;
}    

h3{
    color: rgb(60, 99, 255);
}

.desativa{
    display: none;
}